* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background-color: #46389b;
    color: #fff;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

body {
    background-color: #f5f5f5;
    color: #1f1f1f;
    font-family: 'Zilla Slab  ', 'Segoe UI', 'Poppins', sans-serif;
    text-shadow: 0.4px 0.4px 0.4px rgba(0, 0, 0, 0.4);
}

header {
    text-shadow: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

nav {
    min-height: 100px;
}

nav h1 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 25px;
}

header .navbar {
    padding: 0 10%;
    position: sticky;
    top: 0;
}


nav a {
    letter-spacing: 1px;
    font-size: 17px;
}

nav ul {
    justify-content: space-around;
}

nav ul li {
    display: inline-block;
    padding: 8px 12px;
    /* position: relative; */
}

main {
    margin-top: 100px;
}

.section__carousel {
    /* margin-top: 0 auto; */
    /* background-color: red; */
    /* padding: 0 15%; */
    max-width: 1000px;
}

#carouselExampleIndicators {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);

}

#carouselExampleIndicators img {
    width: 100%;
    /* height: 100%;/ */
}

main .headline .headline-head h1{
    font-family: 'Caveat', 'Zilla Slab', 'Segoe UI', 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

main .headline .headline-para {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 1.5;
    margin-bottom: 40px;
}

.about_organisation {
    min-height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}




.section__signpost .signpost_row1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    /* background-color: black; */
}

.section__signpost .signpost_row2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    /* background-color: black; */
}

.image-container {
    /* width: 25vw; */
    position: relative;
    display: inline-block;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    /* background-color: blueviolet; */
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
    opacity: 0.9;
}

.image-container .signpost_row1_box {
    height: 230px;
}

.image-container .signpost_row2_box {
    height: 330px;
}

.image-container:hover .overlay {
    opacity: 1;
    visibility: visible;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.overlay_heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease-in-out;

}

.overlay_heading h3 {
    text-align: center;
    font-family: 'Caveat', 'Zilla Slab', 'Segoe UI', 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
    color: #320c25;
}

.image-container:hover .overlay_heading {
    opacity: 0;
}

.overlay-content {
    padding: 20px;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: #46389b;

}

.section__heading h1 {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 40px;
    
}

#section_gmap {
    padding: 20px 0;
}

#section_gmap .gmap_container {
    position: relative;
    display: inline-block;
}


#section_gmap .gmap_image img {
    /* display: block; */
    width: 100%;
    height: auto;
}

#section_gmap .gmap_image {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.gmap_box {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
    z-index: 6;
    border-radius: 10px;
}

#section_gmap .gmap_box {
    background-color: #17afcab3;
    color: #000000;
    box-shadow: 2px 2px 10px rgba(36, 39, 54, 0.8);
    width: 23%;
    z-index: 6;
}

#section_gmap .gmap_box h4 {
    font-family: 'Caveat', 'Zilla Slab', 'Segoe UI', 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 1.5px;
}

#section_gmap .gmap_box h3 {
    font-family: 'Caveat', 'Zilla Slab', 'Segoe UI', 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 1.4px;
}

#section_gmap .gmap_box p {
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
}

.gmap_link a button{
    display: absolute;
    top: 50%;
    left: 50%;
}

.gmap_link button {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
}


.section__end {
    /* padding: 0 15% 8%; */
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: tomato; */

}

.section__end h1{
    
    font-family: 'Caveat', 'Zilla Slab', 'Segoe UI', 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 2px;
}

.section__end .end__para {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 1.5;
}

footer {
    font-size: 17px;
    font-weight: 400;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

footer .container {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    min-height: 50vh;
}

footer a {
    text-decoration: none;
    color: #1f1f1f;
}

footer h5 {
    font-family: 'Caveat', 'Zilla Slab', 'Segoe UI', 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
    text-transform: uppercase;

}

@media screen and (max-width: 767px) {
    .section__carousel {
        padding: 0 1%;
    }

    .section__signpost .signpost_row1 {
        flex-direction: column;
        align-items: center;
    }

    .section__signpost .signpost_row2 {
        flex-direction: column;
        align-items: center;
    }

    .image-container {
        width: 100%;
        margin-bottom: 20px;
    }

    .image-container .signpost_row1_box {
        height: 200px;
    }

    .image-container .signpost_row2_box {
        height: 300px;
    }

    .section__heading h1 {
        font-size: 30px;
    }

    #section_gmap .gmap_box {
        width: 250px;

        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #section_gmap .gmap_box h4 {
        font-size: 30px;
    }

    #section_gmap .gmap_box h3 {
        font-size: 20px;
    }

    #section_gmap .gmap_box p {
        font-size: 15px;
    }

    .section__end h1 {
        font-size: 30px;
    }

    .section__end .end__para {
        font-size: 17px;
    }

    footer .container {
        padding: 0 10px;
    }

    footer h5 {
        font-size: 20px;
    }
}